.forecast-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 10px;
}
  
.forecast-card {
    flex: 0 1 calc(18% - 30px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}
 
@media (max-width: 768px) {
  .forecast-card {
    flex: 0 1 calc(50% - 10px); 
  }
}

@media (max-width: 480px) {
  .forecast-card {
    flex: 0 1 100%; 
}
}
