.search-form {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding-bottom: 20px;
  }
  
.search-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.search-button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #2980b9;
